html, body {
    margin: 0;
    height: 100%;
    background-color: #01002c;
}

.imagen {
    margin: 1px; 
    height: 15px; 
    vertical-align: middle;
}

body{
    margin:0;
    font:normal 75% Arial, Helvetica, sans-serif;
}
canvas{
    display: block;
    vertical-align: bottom;
}
/* ---- particles.js container ---- */
#particles-js{
    position:absolute;
    width: 100%;
    height: 100%;
	z-index:-1;
    background-color: #01002c;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

a:link{
    color: gray;
}
a:active{
    color: cyan;
}
a:visited{
    color: silver;
}
a:hover{
    color: red;
}
